#main-container{
    background-color: rgb(240, 244, 245);
}

header{
    color:#4267B2 ;
}
form, footer{
    background-color:white;
}

#anmelden{
    background-color: #4267B2;
    color: white;
}
#neues{
    background-color: rgb(134, 194, 13);
    border-color: rgb(135, 187, 32) ;
    color: white;
}

footer,footer a{
    color: rgb(136, 139, 139);
}