#main-container{
    display: flex;
    flex-direction: column;
}
#login{
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
}
#form-section{
    
}