
/*first shape*/

#l1{
    background-color: #62306D;
}

.yellow-color{
    background-color: #F7EC7D;
}

/*Second shape*/

#l2{
    background-color: #E3516e;
}

#circle1{
    background-color: #51b5a9;
}

#circle2{
    background-color: #fade8b;
}

#circle3{
    background-color: #f7f3d7;
}

/*Third shape*/

#l3{
    background-color: #191210;
}
#center-circle{
    background-color: #eca03d;
}
#center-circle-in{
    background-color: #eca03d;
}
.half-circle{
    background-color: #191210;
}

